{{template "head.html" .Global}}
{{template "nav.html" .Global}}

<div class="container">
  <form method="post" action="/login" class="col-md-6">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        class="form-control"
        type="text"
        name="username"
        id="username"
        autofocus />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        class="form-control"
        type="password"
        name="password"
        id="password" />
    </div>

    {{if .CanRememberMe}}
    <div class="form-group">
      <label for="remember-me" class="checkbox">
      <input 
	type="checkbox" 
	name="remember-me" 
	id="remember-me" />
        Remember me
      </label>
    </div>
    {{end}}
    
    <button
      type="submit"
      class="btn btn-primary"
    >Log in</button>
  </form>
</div>

{{template "foot.html"}}
