{{template "head.html"}}

<h1>koushin</h1>

<p>
	<a href="/mailbox/INBOX">Back</a>
</p>

<h2>Compose new message</h2>

<form method="post" action="">
	<input type="hidden" name="in_reply_to" value="{{.Message.InReplyTo}}">

	<p>From:</p>
	<input type="email" name="from" value="{{.Message.From}}">
	<p>To:</p>
	<input type="email" name="to" multiple value="{{.Message.ToString}}">
	<p>Subject:</p>
	<input type="text" name="subject" value="{{.Message.Subject}}">
	<p>Body:</p>
	<textarea name="text" cols="80" rows="20">{{.Message.Text}}</textarea>
	<br><br>
	<input type="submit" value="Send">
</form>

{{template "foot.html"}}
