{{template "head.html" .}}
{{template "nav.html" .}}

<div class="page-wrap">
  <aside>
    <a href="/calendar/create?date={{.Time.Format "2006-01-02"}}" class="new">New event</a>
    <!-- TODO: fetch list of address books -->
    <a href="#" class="active">{{.Calendar.Name}}</a>
    <a href="#">Personal</a>
  </aside>

  <div class="container">
    <main class="calendar-date">
      <section class="actions">
        {{ template "calendar-header.html" . }}
      </section>
      <section class="events">
        <div class="event-grid">
          {{range .Events}}
          {{$event := index .Data.Events 0}}
          <div class="event-list-date">
            {{($event.DateTimeStart nil).Format "15:04"}} — {{($event.DateTimeEnd nil).Format "15:04"}}
          </div>
          <div class="event-list-summary">
            <a href="{{.URL}}">{{$event.Props.Text "SUMMARY"}}</a>
          </div>
          {{end}}

          {{if not .Events}}
          <p class="empty-list">No event.</p>
          {{end}}
        </div>
      </section>

      <section class="actions">
        {{ template "calendar-header.html" . }}
      </section>
    </main>
  </div>
</div>

{{template "foot.html"}}
