<div class="actions-wrap">
  {{$view := (index .GlobalData.Path 1)}}

  {{$buttonFormat := ""}}
  {{$header := ""}}
  {{$today := false}}

  {{if eq $view "month"}}
  {{$buttonFormat = "January"}}
  {{$header = .Time.Format "January 2006"}}
  {{$today = eq (.Time.Format "2006-01") (.Now.Format "2006-01")}}
  {{else if eq $view "date"}}
  {{$buttonFormat = "January 02"}}
  {{$header = .Time.Format "January 02, 2006"}}
  {{$today = eq (.Time.Format "2006-01-02") (.Now.Format "2006-01-02")}}
  {{else if eq $view "week"}}
  {{$buttonFormat = "January 2"}}
  {{$last := .Time.AddDate 0 0 6}}
  {{$start := .Time.Format "January 2"}}
  {{$end := $last.Format "January 2"}}
  {{if eq .Time.Month $last.Month}}
  {{$end = $last.Format "2"}}
  {{end}}
  {{$header = printf "%v - %v" $start $end}}
  {{$today = and (or (.Now.Equal .Time) (.Now.After .Time)) (.Now.Before .NextTime)}}
  {{end}}

  <div class="actions-pagination" style="margin-left: 0;">
    <a href="?{{$view}}={{.PrevPage}}" class="button-link">« {{.PrevTime.Format $buttonFormat}}</a>
    <h3>{{$header}}</h3>
    <a href="?{{$view}}={{.NextPage}}" class="button-link">{{.NextTime.Format $buttonFormat}} »</a>
    <a href="{{.GlobalData.URL.Path}}" class="button-link">Today »</a>

    {{$time := .Time}}
    {{if $today}}
    {{$time = .Now}}
    {{end}}

    <a href="/calendar/month?month={{$time.Format "2006-01"}}" class="button-link">Month</a>
    <a href="/calendar/week?date={{$time.Format "2006-01-02"}}" class="button-link">Week</a>
    <a href="/calendar/date?date={{$time.Format "2006-01-02"}}" class="button-link">Day</a>
  </div>

  <form method="get" class="actions-search action-group">
    <input
      type="text"
      name="query"
      placeholder="Search {{.Calendar.Name}} events...">
    <button>Search</button>
  </form>
</div>
