{{template "head.html" .}}
{{template "nav.html" .}}
{{template "util.html" .}}

<div class="page-wrap">
  {{ template "aside" . }}

  <div class="container">
    <main class="create-update">

      <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="message_id" value="{{.Message.InReplyTo}}">
        <input type="hidden" name="in_reply_to" value="{{.Message.MessageID}}">

        <div class="headers no-js">
          <label>From</label>
          <input type="email" name="from" id="from" value="{{.Message.From}}" />

          <label>To</label>
          <input
            type="email"
            name="to"
            id="to"
            value="{{.Message.ToString}}"
            multiple
            list="emails"
            {{ if not .Message.To }} autofocus{{ end }}
          />

          <label>Subject</label>
          <input type="text" name="subject" id="subject" value="{{.Message.Subject}}" {{ if .Message.To }} autofocus{{ end }}/>

          <label>Attachments</label>
          <input type="file" name="attachments" id="attachments" multiple>

          <div
            id="attachment-list"
            {{ if .Message.Attachments }}
            style="display: none;"
            {{ end }}
          >
            <div class="help">Drag and drop attachments here</div>
            {{range .Message.Attachments}}
            <div class="upload">
              <label class="filename">
                <input type="checkbox" name="prev_attachments" value="{{.Node.PathString}}" checked>
                {{.Filename}}
              </label>
            </div>
            {{end}}
            <!--
            <div class="upload">
              <span class="progress"></span>
              <span class="filename">foobar.pdf</span>
              <span class="size">1234 KiB</span>
              <button>&times;</button>
            </div>
            -->
          </div>

          <input type="hidden" id="attachment-uuids" name="attachment-uuids" value="" />
        </div>

        <textarea name="text" class="body">{{.Message.Text}}</textarea>

        <datalist id="emails">
          {{range .Extra.EmailSuggestions}}
            <option value="{{.}}">
          {{end}}
        </datalist>

        <div class="actions">
          <button id="send-button" type="submit">Send Message</button>
          <button id="save-button" type="submit" name="save_as_draft">Save as draft</button>
          <a class="button-link" href="/mailbox/INBOX">Cancel</a>
        </div>
      </form>

    </main>
  </div>
</div>
<script src="/themes/alps/assets/attachments.js"></script>

{{template "foot.html"}}
