{{template "head.html" .}}
{{template "nav.html" .}}


<div class="page-wrap">
  <aside>
    <a href="/compose" class="new active">Compose&nbsp;Mail</a>
    <!-- TODO: use mailbox list from template data -->
    <a href="/mailbox/INBOX">Inbox</a>
    <a href="/mailbox/Drafts">Drafts</a>
    <a href="/mailbox/Sent">Sent</a>
    <a href="/mailbox/Archive">Archive</a>
    <a href="/mailbox/Junk">Junk</a>
    <a href="/mailbox/Trash">Trash</a>
  </aside>

  <div class="container">
    <main class="create-update">

      <form method="post" action="" enctype="multipart/form-data">
        <input type="hidden" name="in_reply_to" value="{{.Message.InReplyTo}}">

        <label><span>From</span><input type="email" name="from" id="from" value="{{.Message.From}}" /></label>
        <label><span>To</span><input type="email" name="to" id="to" value="{{.Message.ToString}}" multiple {{ if not .Message.To }} autofocus{{ end }}/></label>
        <label><span>Subject</span><input type="text" name="subject" id="subject" value="{{.Message.Subject}}" {{ if .Message.To }} autofocus{{ end }}/></label>
        <label><span>Attachments</span><input type="file" name="attachments" id="attachments" multiple></label>
        <!-- TODO: list of previous attachments (needs design) -->

        <textarea name="text" class="body">{{.Message.Text}}</textarea>

        <div class="actions">
          <button type="submit">Send Message</button>
          <button type="submit" name="save_as_draft">Save as draft</button>
          <a class="button-link" href="/mailbox/INBOX">Cancel</a>
        </div>
      </form>

    </main>
  </div>
</div>


{{template "foot.html"}}
