{{template "head.html" .}}

<main class="login">
  <section>
    <h1>Webmail Login</h1>

    <form method="post" action="/login">
      <div class="action-group">
        <label for="username">
          <strong>Username</strong>
        </label>
        <input type="text" name="username" id="username" autofocus />
      </div>

      <div class="action-group">
        <label for="password">
          <strong>Password</strong>
        </label>
        <input type="password" name="password" id="password" />
      </div>

      <div class="action-group">
        <button type="submit">Sign in</button>
      </div>
    </form>
  </section>
</main>

{{template "foot.html"}}
