{{template "head.html" .}}

<main class="login">
  <section>
    <h1>Webmail Login</h1>

    <form method="post" action="/login">
      <div class="action-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" autofocus />
      </div>

      <div class="action-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>

      {{if .CanRememberMe}}
      <div class="action-group">
        <label for="remember-me" class="checkbox">
          <input type="checkbox" name="remember-me" id="remember-me" />
          Remember me
        </label>
      </div>
      {{end}}

      <div class="action-group">
        <button type="submit">Sign in</button>
      </div>
    </form>
  </section>
</main>

{{template "foot.html"}}
