{{template "head.html" .}}
{{template "nav.html" .}}

<div class="page-wrap">
  <aside>
    <!-- the logo image, dimensions 200x32 may be present or not -->
    <a href="/compose" class="compose-mail">Compose&nbsp;Mail</a>
    {{$current := .Mailbox}}
    {{range .Mailboxes}}
      <a href="{{.URL}}"
          {{ if eq $current.Name .Name }}class="active"{{ end }}>
        {{ if eq .Name "INBOX" }}
          Inbox
        {{else}}
          {{.Name}}
        {{end}}
        {{ if eq $current.Name .Name }}
          {{ if $current.Unseen }}({{ $current.Unseen }}){{ end }}
        {{ end }}
      </a>
    {{end}}
  </aside>

  <div class="container">
    <form id="messages-form" method="post"></form>
    <main class="message-list">
      <section class="actions">
        {{ template "messages-header.html" . }}
      </section>
      <section class="messages">
        <div class="message-grid">
          {{range .Messages}}
          <div class="message-list-checkbox message-list-item {{ if not (.HasFlag "\\Seen") }}message-list-unread{{ end }}">
            <input type="checkbox" name="uids" value="{{.Uid}}" form="messages-form">
          </div>
          <div class="message-list-sender message-list-item {{ if not (.HasFlag "\\Seen") }}message-list-unread{{ end }}">
           {{ range .Envelope.From }}
            {{ if .PersonalName }}
              {{.PersonalName}}
            {{ else }}
              {{.MailboxName}}@{{.HostName}}
            {{ end }}
          {{ end }}
          </div>
          <div class="message-list-subject  message-list-item {{ if not (.HasFlag "\\Seen") }}message-list-unread{{ end }}">
            <a href="{{.URL}}?part={{.TextPartName}}">
              {{if .Envelope.Subject}}
                {{.Envelope.Subject}}
              {{else}}
                (No subject)
              {{end}}
            </a>
          </div>
          <div class="message-list-date  message-list-item {{ if not (.HasFlag "\\Seen") }}message-list-unread{{ end }}">
            {{ .Envelope.Date | formatdate }}
          </div>
          {{ end }}
        </div>
      </section>
      <section class="actions">
        {{ template "messages-header.html" . }}
      </section>
    </main>
  </div>
</div>
{{template "foot.html"}}
