<header>
  <nav>
    {{$page := (index .GlobalData.Path 0)}}
    <a href="/"
      {{ if or (eq $page "mailbox") (eq $page "message") (eq $page "compose") }}
      class="active"
      {{ end }}
    >Email</a>
    <a
      href="/calendar"
      {{ if eq $page "calendar" }}
      class="active"
      {{ end }}
    >Calendar</a>
    <a
      href="/contacts"
      {{ if eq $page "contacts" }}
      class="active"
      {{ end }}
    >Contacts</a>
    <div>
      <span>{{ .GlobalData.Username }}</span>
      <a href="/settings">Settings</a>
      <a href="/logout">Sign Out</a>
    </div>
  </nav>
</header>
