{{template "head.html" .}}
{{template "nav.html" .}}

<div class="page-wrap">
  <aside>
    <a href="/calendar/create" class="new active">New event</a>
    <!-- TODO: fetch list of address books -->
    <a href="#">{{.Calendar.Name}}</a>
    <a href="#">Personal</a>
  </aside>

  <div class="container">
    <main class="new-event">
      <form method="post">
        <label>
          <span>Event name</span>
          <input type="text" name="summary" id="summary" value="{{.Event.Props.Text "SUMMARY"}}">
        </label>

        <label>
          <!-- TODO: inputs with time -->
          <span>Start date</span>
          <input type="date" name="start" id="start" value="{{.Event.DateTimeStart nil | ornow | formatinputdate}}"/>
        </label>

        <label>
          <span>End date</span>
          <input type="date" name="end" id="end" value="{{.Event.DateTimeEnd nil | ornow | formatinputdate}}"/>
        </label>

        <textarea name="description" id="description">{{.Event.Props.Text "DESCRIPTION"}}</textarea>

        <div class="actions">
          <button type="submit">Save</button>
          <a class="button-link" href="/calendar">Cancel</a>
        </div>
      </form>
    </main>
  </div>
</div>

{{template "foot.html"}}
